.contenedor{background-color: royalblue;}
.normal{background-color: blueviolet;}
.familiar{background-color: burlywood;}
.Premium{background-color: chocolate;}
.FamiliarPremium{background-color: darkgoldenrod;}